/* Achtergrond*/
body {
	background: url('background3.jpg') no-repeat center center fixed;
	background-size: cover;
}



/* Navigatie bar 
   Code from Online tutorial at W3Schools.com, code edited to own preferences */

ul.topnav {
    list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
	top: 0;	
	left: 0;
	width: 100%
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: black;
}

ul.topnav li a.active {
	background-color: rgb(90,141,10);
}

/*content box*/
.content {
	position: fixed;
	overflow-y: scroll;
	height: 75%;
	border-radius: 15px;
	margin-top: 100px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 20px 60px;
	background: rgba(248, 248, 255, 0.85);
	max-width: 900px;
	
    
	
}

/* Veranderen navigatie en naar beneden brengen content kolom wanneer pagina smaller is dan 400px */
@media screen and (max-width: 400px){ 
    ul.topnav li {float: none;}
	.content {margin-top: 260px;}
}


.box {
	margin-bottom: 10px;
	height: 250px;
}

img.opdr-image {
	max-width: 200px;
	width: 100%;
	height: auto;
	float: left;

	display: block;
	
}

h3.tekst {
	
}

h3.opdr-titel {
	margin-left: 220px;
	
	
	
	
}

p.opdr-content {
	margin-left: 220px;
	max-width: 500px;
}





ul.navdel  {
	list-style-type: none;
	overflow: hidden;
    
    margin: 0;
	padding: 0;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
    
}

ul.navdel li {
	float: left;
}

ul.navdel li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 30px;
    text-decoration: none;
}

hr {
	margin-bottom: 60px
}
