/* Achtergrond*/
body {
	background: url('background3.jpg') no-repeat center center fixed;
	background-size: cover;
}


/* Navigatie bar 
   Code from Online tutorial at W3Schools.com, code edited to own preferences */

ul.topnav {
    list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	width: 100%
}

ul.topnav li {
	float: left;
}

ul.topnav li a, .dropbtn {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active),  {
	background-color: black;
}

li.dropdown {
	display: inline-block;
}

ul.topnav li a.active {
	background-color: rgb(90,141,10);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 113px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: green;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: black}

.dropdown:hover .dropdown-content {
    display: block;
}

/*content box*/
.content {
	position: fixed;
	overflow-y: scroll;
	height: 80%;
	border-radius: 15px;
	margin-top: 40px;
	display: block; 
	margin-left: 5%; 
  	margin-right: 5%; 
	padding: 20px 60px;
	background: rgba(248, 248, 255, 0.85);
	
}



.box {
	margin-bottom: 20px;
	height: 280px;
	border: 3px solid black;
	border-radius: 15px;
	
}

img.opdr-image {
	max-width: 200px;
	max-height: 200px;
	width: 100%;
	height: auto;
	float: left;
	margin-top: 40px;
	margin-left: 10px;
	margin-right: 10px;
	display: block;
}

.tekst {
	max-width: 800px;
	margin-right: 10px;
	
	
}


a.linkopdr {
	background: rgb(90,141,10);
	margin-right: 10px;
	padding: 5px 10px;
	border-radius: 10px;
	text-decoration: none;
	color: white;
	margin-top: auto;
	display: inline-block;
	float: right

}

@media screen and (max-width: 700px){ 
	
	img.opdr-image{display: none}
	.content {padding: 20px 20px;}
	.tekst {padding: 10px 10px}
}

/* Veranderen navigatie en naar beneden brengen content kolom wanneer pagina smaller is dan 400px */
@media screen and (max-width: 400px){ 
    ul.topnav li {float: none;
	position: normal;}
	.content {margin-top: 10px; position: static;}
	img.opdr-image {display: none;}
	.box {height: 300px}
}

ul.navdel  {
	list-style-type: none;
	overflow: hidden;
    
    margin: 0;
	padding: 0;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
    
}

ul.navdel li {
	float: left;
}

ul.navdel li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 30px;
    text-decoration: none;
}

hr {
	margin-bottom: 40px
}
